# created by virtualenv automatically
workspace.xml
*.mp4
*.zip
Videos/
cache/
batch_out/
# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/

# IDE (PyCharm/IntelliJ)
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
